@import '~scss/variables';
@import '~scss/mixins';


.c-list-item {
    background-color: white;
    padding: 12px 24px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;

    &.is-done {
        text-decoration: line-through;
    }
}

.c-list-item__remove {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 18px;
}