@import '~scss/variables';
@import '~scss/mixins';


.c-list-item {
    background-color: white;
    padding: 12px 24px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    cursor: pointer;

    &.is-done {
        text-decoration: line-through;
    }
}