@import '~scss/variables';

.home {

}

.c-add-to-list {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 64px;

    .o-text-input {
        flex-grow: 1
    }
}

.c-list__completed {
    margin-top: 48px;
    position: relative;

    h3 {
        margin-bottom: 18px;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
    }
}