@mixin shadow() {
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees + deg);
    -moz-transform: rotate($degrees + deg);
    -o-transform: rotate($degrees + deg);
    -ms-transform: rotate($degrees + deg);
    transform: rotate($degrees + deg);
}